In [54]:
import pandas as pd
import numpy as np

In [55]:
#Read in CSV
df_Telemedicine = pd.read_csv('./Resources/Telemedicine_Use_in_the_Last_4_Weeks_20240409.csv')
df_tmed_dy21 = pd.read_csv('./Resources/TMED_DY21_public_20220106.csv')
df_tmedtrend = pd.read_csv('./Resources/TMEDTREND_PUBLIC_240306.csv')

In [56]:
#Print DataFrame
df_Telemedicine.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
0,Adults Who Had Appointment with Health Profess...,National Estimate,United States,United States,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,25.0,26.4,25.0 - 26.4,NaN,NaN
1,Adults Who Had Appointment with Health Profess...,By Age,United States,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN
2,Adults Who Had Appointment with Health Profess...,By Age,United States,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN
3,Adults Who Had Appointment with Health Profess...,By Age,United States,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN
4,Adults Who Had Appointment with Health Profess...,By Age,United States,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN

In [57]:
#Convert Date Columns to datetime
df_Telemedicine["Time Period Start Date"] = pd.to_datetime(
    df_Telemedicine["Time Period Start Date"],
    infer_datetime_format =True,
    utc = True
)
df_Telemedicine["Time Period End Date"] = pd.to_datetime(
    df_Telemedicine["Time Period End Date"],
    infer_datetime_format =True,
    utc = True
)

/var/folders/75/q6ncnq093g3_qnbg7m3pr7x00000gn/T/ipykernel_78924/1534212676.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_Telemedicine["Time Period Start Date"] = pd.to_datetime(
/var/folders/75/q6ncnq093g3_qnbg7m3pr7x00000gn/T/ipykernel_78924/1534212676.py:6: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_Telemedicine["Time Period End Date"] = pd.to_datetime(

In [58]:
#Convert Dates to quarters
df_Telemedicine['quarters end period'] = df_Telemedicine["Time Period End Date"].dt.quarter
df_Telemedicine['quarters star period'] = df_Telemedicine["Time Period Start Date"].dt.quarter
Start_End_equal = df_Telemedicine['quarters end period']==df_Telemedicine['quarters star period']
any_false=(~Start_End_equal).any()  
print(any_false)

True

In [59]:

df_Telemedicine_quarters = df_Telemedicine.drop('quarters end period', axis=1).rename(columns={'quarters star period': 'Quarter'}).drop('Time Period End Date', axis=1)
df_Telemedicine_quarters['Time Period Start Date'] = df_Telemedicine_quarters["Time Period Start Date"].dt.year
df_tele_qtr_yr = df_Telemedicine_quarters.rename(columns={'Time Period Start Date': 'Year'})

In [60]:
df_tele_qtr_yr['State'].unique()
df_tele_qtr_yr.loc[df_tele_qtr_yr['State'] == 'United States', 'State'] = 'National'

In [61]:
df_tele_qtr_yr

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Year,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag,Quarter
0,Adults Who Had Appointment with Health Profess...,National Estimate,National,United States,3.1,28,"Apr 14 - Apr 26, 2021",2021,25.7,25.0,26.4,25.0 - 26.4,NaN,NaN,2
1,Adults Who Had Appointment with Health Profess...,By Age,National,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN,2
2,Adults Who Had Appointment with Health Profess...,By Age,National,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN,2
3,Adults Who Had Appointment with Health Profess...,By Age,National,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN,2
4,Adults Who Had Appointment with Health Profess...,By Age,National,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3339,Households With Children Where Any Child Had A...,By State,Virginia,Virginia,3.5,48,"Jul 27 - Aug 8, 2022",2022,18.8,12.9,26.1,12.9 - 26.1,18.2-23.1,NaN,3
3340,Households With Children Where Any Child Had A...,By State,Washington,Washington,3.5,48,"Jul 27 - Aug 8, 2022",2022,18.9,15.1,23.3,15.1 - 23.3,18.2-23.1,NaN,3
3341,Households With Children Where Any Child Had A...,By State,West Virginia,West Virginia,3.5,48,"Jul 27 - Aug 8, 2022",2022,NaN,NaN,NaN,NaN,Estimate is not reliable.,1.0,3
3342,Households With Children Where Any Child Had A...,By State,Wisconsin,Wisconsin,3.5,48,"Jul 27 - Aug 8, 2022",2022,13.8,8.8,20.3,8.8 - 20.3,11.9-14.9,NaN,3
3343,Households With Children Where Any Child Had A...,By State,Wyoming,Wyoming,3.5,48,"Jul 27 - Aug 8, 2022",2022,10.7,6.6,16.2,6.6 - 16.2,8.6-11.8,NaN,3

In [62]:
df_tele_qtr_yr['Group'].unique()

array(['National Estimate', 'By Age', 'By Sex',
       'By Race/Hispanic ethnicity', 'By Education',
       'By Disability status', 'By State',
       'By Education of adult respondent',
       'By Race/Hispanic ethnicity of adult respondent',
       'By Current US Armed Forces or National Guard service of adult respondent or spouse',
       'By Health insurance of adult respondent',
       'By Total household income', 'By Gender identity',
       'By Sexual orientation'], dtype=object)

In [63]:
df_tele_qtr_yr_age = df_tele_qtr_yr[df_tele_qtr_yr['Group'] == 'By Age']

In [68]:
df_tele_qtr_yr['State'].unique()

array(['National', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [65]:
df_tele_qtr_yr_age

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Year,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag,Quarter
1,Adults Who Had Appointment with Health Profess...,By Age,National,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN,2
2,Adults Who Had Appointment with Health Profess...,By Age,National,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN,2
3,Adults Who Had Appointment with Health Profess...,By Age,National,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN,2
4,Adults Who Had Appointment with Health Profess...,By Age,National,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN,2
5,Adults Who Had Appointment with Health Profess...,By Age,National,60 - 69 years,3.1,28,"Apr 14 - Apr 26, 2021",2021,27.6,25.9,29.4,25.9 - 29.4,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,Adults Who Had Appointment with Health Profess...,By Age,National,40 - 49 years,3.5,48,"Jul 27 - Aug 8, 2022",2022,21.6,20.0,23.4,20.0 - 23.4,NaN,NaN,3
3196,Adults Who Had Appointment with Health Profess...,By Age,National,50 - 59 years,3.5,48,"Jul 27 - Aug 8, 2022",2022,24.4,22.5,26.4,22.5 - 26.4,NaN,NaN,3
3197,Adults Who Had Appointment with Health Profess...,By Age,National,60 - 69 years,3.5,48,"Jul 27 - Aug 8, 2022",2022,23.4,21.8,25.0,21.8 - 25.0,NaN,NaN,3
3198,Adults Who Had Appointment with Health Profess...,By Age,National,70 - 79 years,3.5,48,"Jul 27 - Aug 8, 2022",2022,28.8,26.6,31.0,26.6 - 31.0,NaN,NaN,3
3199,Adults Who Had Appointment with Health Profess...,By Age,National,80 years and above,3.5,48,"Jul 27 - Aug 8, 2022",2022,31.1,21.9,41.6,21.9 - 41.6,NaN,NaN,3