In [1]:
import pandas as pd
import numpy as np

In [2]:
df_Telemedicine = pd.read_csv('./Resources/Telemedicine_Use_in_the_Last_4_Weeks_20240409.csv')
df_tmed_dy21 = pd.read_csv('./Resources/TMED_DY21_public_20220106.csv')
df_tmedtrend = pd.read_csv('./Resources/TMEDTREND_PUBLIC_240306.csv')

In [3]:
#Print Data Frame
df_tmedtrend

,Year,quarter,Bene_Geo_Desc,Bene_Mdcd_Mdcr_Enrl_Stus,Bene_Race_Desc,Bene_Sex_Desc,Bene_Mdcr_Entlmt_Stus,Bene_Age_Desc,Bene_RUCA_Desc,Total_Bene_TH_Elig,Total_PartB_Enrl,Total_Bene_Telehealth,Pct_Telehealth
0,2020,Overall,National,All,All,All,All,All,All,30946785.0,3.224489e+07,14826919.0,0.4791
1,2020,Overall,National,All,All,All,All,All,Rural,7179538.0,7.490301e+06,2858284.0,0.3981
2,2020,Overall,National,All,All,All,All,All,Urban,23696871.0,2.462914e+07,11944230.0,0.5040
3,2020,Overall,National,All,All,All,All,All,Unknown,NaN,NaN,NaN,NaN
4,2020,Overall,National,All,All,All,All,0-64,All,4088345.0,4.291403e+06,2322324.0,0.5680
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21667,2023,3,Virginia,All,All,All,All,All,Unknown,NaN,NaN,NaN,NaN
21668,2023,3,Washington,All,All,All,All,All,Unknown,NaN,NaN,NaN,NaN
21669,2023,3,West Virginia,All,All,All,All,All,Unknown,NaN,NaN,NaN,NaN
21670,2023,3,Wisconsin,All,All,All,All,All,Unknown,NaN,NaN,NaN,NaN
21671,2023,3,Wyoming,All,All,All,All,All,Unknown,NaN,NaN,NaN,NaN

In [4]:
#Check Types
df_tmedtrend.dtypes

Year                          int64
quarter                      object
Bene_Geo_Desc                object
Bene_Mdcd_Mdcr_Enrl_Stus     object
Bene_Race_Desc               object
Bene_Sex_Desc                object
Bene_Mdcr_Entlmt_Stus        object
Bene_Age_Desc                object
Bene_RUCA_Desc               object
Total_Bene_TH_Elig          float64
Total_PartB_Enrl            float64
Total_Bene_Telehealth       float64
Pct_Telehealth              float64
dtype: object

In [5]:
#Check Unique Values in Quarters Column
df_tmedtrend['quarter'].unique()

#Check value count of Overall
overall_count = df_tmedtrend['quarter'].value_counts().get('Overall', 0)
print(overall_count)

#Filter out Overall
filtered_qtr_tmedtrend = df_tmedtrend.query("quarter != 'Overall'")

3612

In [6]:
#Rename Columns
filtered_qtr_tmedtrend=filtered_qtr_tmedtrend.rename(columns={'Bene_Geo_Desc': 'State'}).rename(columns={'quarter': 'Quarter'}).rename(columns={'Bene_Age_Desc': 'Age'})

In [9]:
#Check unique values in Age column
filtered_qtr_tmedtrend['Age'].unique()

array(['All', '0-64', '65-74', '75-84', '85 and over'], dtype=object)

In [11]:
#Filter out All
filtered_qtr_age_tmedtrend = filtered_qtr_tmedtrend[filtered_qtr_tmedtrend['Age'] != 'All']

filtered_qtr_age_tmedtrend['Age'].unique()

array(['0-64', '65-74', '75-84', '85 and over'], dtype=object)

In [12]:
filtered_qtr_age_tmedtrend

,Year,Quarter,State,Bene_Mdcd_Mdcr_Enrl_Stus,Bene_Race_Desc,Bene_Sex_Desc,Bene_Mdcr_Entlmt_Stus,Age,Bene_RUCA_Desc,Total_Bene_TH_Elig,Total_PartB_Enrl,Total_Bene_Telehealth,Pct_Telehealth
1270,2020,1,National,All,All,All,All,0-64,All,3163071.0,4.301853e+06,365839.0,0.1157
1271,2020,1,National,Medicare & Medicaid,All,All,All,0-64,All,2012704.0,2.571352e+06,251094.0,0.1248
1272,2020,1,National,Medicare Only,All,All,All,0-64,All,1150367.0,1.730500e+06,114745.0,0.0997
1273,2020,1,National,All,American Indian/Alaska Native,All,All,0-64,All,37085.0,4.961333e+04,3493.0,0.0942
1274,2020,1,National,All,Asian/Pacific Islander,All,All,0-64,All,58292.0,8.433633e+04,6026.0,0.1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21496,2023,3,Wisconsin,All,All,All,All,85 and over,All,41593.0,5.168267e+04,2529.0,0.0608
21513,2023,3,Wyoming,All,All,All,All,0-64,All,5754.0,8.414667e+03,959.0,0.1667
21514,2023,3,Wyoming,All,All,All,All,65-74,All,33249.0,5.183133e+04,1750.0,0.0526
21515,2023,3,Wyoming,All,All,All,All,75-84,All,21050.0,2.849067e+04,1042.0,0.0495
21516,2023,3,Wyoming,All,All,All,All,85 and over,All,7328.0,9.206000e+03,327.0,0.0446